@()
@main("Ships") {
<link href='@routes.Assets.versioned("leaflet/leaflet.css")' rel="stylesheet">
<script src='@routes.Assets.versioned("leaflet/leaflet.js")'></script>

<div id="map" style="height: 100%; width: 100%;"></div>
<script>

    var map = L.map('map', {
        center: [-22, -43],
        zoom: 6
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    {
      maxZoom: 20,
      minZoom: 2
    }).addTo(map);


    @** Ainda escroto, ver se rola um GeoJSON do amor.
    $.ajax({
        url: "@routes.MapController.reportsByRefId(surpicId)",
        dataType: 'json'
    }).success(function(data) {
        for (i=0;i<data.length;i++) {
            var marker = L.marker([data[i].lat,data[i].lon]).addTo(map);
            marker.bindPopup('<b>' + data[i].messageId + '</b>').openPopup();
        }
    });
    **@

</script>
}