@(wsUri:String,simArea:List[String])
@main("Ships") {

<script>
    window.map = {};
    window.map.ships = {};
</script>

<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("openlayers/ol.css")'/>
<script src='@routes.Assets.versioned("openlayers/ol.js")'></script>
<script src='@routes.Assets.versioned("javascripts/openlayers-provides.js")'></script>
<!-- -->

<!--
<link href='@routes.Assets.versioned("leaflet/leaflet.css")' rel="stylesheet">
<script src='@routes.Assets.versioned("leaflet/leaflet.js")'></script>
<script src='@routes.Assets.versioned("javascripts/leaflet-provides.js")'></script>
-->

<script src='@routes.Assets.versioned("javascripts/terraformer.min.js")'></script>
<script src='@routes.Assets.versioned("javascripts/terraformer-wkt-parser.min.js")'></script>


<script src='@routes.Assets.versioned("javascripts/websocket-shit.js")'></script>

<div id="map" style="height: 99%; width: 100%;"></div>

<script>
function Ship(imo,marker) {
        this.imo = imo;
        this.marker = marker;
}

function init() {
    testWebSocket('@wsUri');

    loadMap();

    @for(area <- simArea) {
        addArea('@area');
    }

}

  window.addEventListener("load", init, false);
</script>
}