@(wsUri:String,simArea:String = "LINESTRING (-30 -10, -10 -30, -40 -40)")
@main("Ships") {

<script src='@routes.Assets.versioned("javascripts/Cesium/Cesium.js")'></script>
<script src='@routes.Assets.versioned("javascripts/olcesium.js")'></script>
<div id="map" style="height: 100%; width: 100%;"></div>

<body>
<div id="map"></div>
<script>
var format = new ol.format.WKT();

var f1 = format.readFeature('@simArea', {
         dataProjection: 'EPSG:4326',
         featureProjection: 'EPSG:4326'
         });

var areaSource = new ol.source.Vector({
  features: [f1]
});

var areaLayer = new ol.layer.Vector({
  source: areaSource
});
/*
var vectorSource2 = new ol.source.Vector({
  features: [iconFeature]
});
var imageVectorSource = new ol.source.ImageVector({
  source: vectorSource2
});
var vectorLayer2 = new ol.layer.Image({
  source: imageVectorSource
});
*/

var map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    }), areaLayer
  ],
  target: 'map',
  controls: ol.control.defaults({
    attributionOptions: ({
      collapsible: false
    })
  }),
  view: new ol.View({
    center: [0, 0],
    zoom: 2
  })
});

var ol3d = new olcs.OLCesium({map: map});
ol3d.setEnabled(true);


function Ship(imo,marker) {
    this.imo = imo;
    this.marker = marker;
}


window.map.ships = new Array();

function init() {
    testWebSocket();
}

  function testWebSocket() {
    wsUrl = '@wsUri';

    console.log('Vou me loggar em ' + wsUrl);
    websocket = new WebSocket(wsUrl);
    websocket.onopen = function(evt) { onOpen(evt) };
    websocket.onclose = function(evt) { onClose(evt) };
    websocket.onmessage = function(evt) { onMessage(evt) };
    websocket.onerror = function(evt) { onError(evt) };
  }

  function onOpen(evt) {
    doSend("register");
  }

  function onClose(evt) {

  }

  function onMessage(evt) {
    pos = $.parseJSON(evt.data);

    var point = new ol.geom.Point([700000, 200000, 100000]);
    var iconFeature = new ol.Feature({
        geometry: point
    });


    var ship = new Ship(pos.imoNumber,iconFeature);
    i = 0;
    var found = false;
    for (i = 0; i<window.map.ships.length; i++) {
        if (window.map.ships[i].imo === ship.imo) {
            window.map.ships[i].marker.setLatLng(ship.marker.getLatLng());
            found = true;
        }
    }
    if (!found) {
        ship.marker.addTo(map);
        ship.marker.bindPopup('<b>' + pos.imoNumber + '</b>');
        window.map.ships.push(ship);
    }
  }

  function onError(evt){ }

  function doSend(message) {
    websocket.send(message);
  }

  window.addEventListener("load", init, false);
</script>
}