@(wsUri:String,simArea:String = "LINESTRING (-30 -10, -10 -30, -40 -40)")
@main("Ships") {

<script>
    window.map = {};
    window.map.ships = {};
</script>

<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("openlayers/ol.css")'/>
<script src='@routes.Assets.versioned("openlayers/ol.js")'></script>
<script src='@routes.Assets.versioned("javascripts/openlayers-provides.js")'></script>
<!-- -->

<!--
<link href='@routes.Assets.versioned("leaflet/leaflet.css")' rel="stylesheet">
<script src='@routes.Assets.versioned("leaflet/leaflet.js")'></script>
<script src='@routes.Assets.versioned("javascripts/leaflet-provides.js")'></script>
-->

<script src='@routes.Assets.versioned("javascripts/terraformer.min.js")'></script>
<script src='@routes.Assets.versioned("javascripts/terraformer-wkt-parser.min.js")'></script>


<script src='@routes.Assets.versioned("javascripts/websocket-shit.js")'></script>

<body>
<div id="map" style="height: 80%; width: 80%;"></div>
<script>



function Ship(imo,marker) {
        this.imo = imo;
        this.marker = marker;
}

function init() {
    testWebSocket('@wsUri');
    loadMap('@simArea');
}

  window.addEventListener("load", init, false);
</script>
}